smart_agri_iot_flows.json
[{"id":"a4a75e6d.5b5a68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a87c2cc.307ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fcce226d.c8308","type":"ui_tab","z":"","name":"smart_agriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"84695dae.aa04b","type":"ui_group","z":"","name":"IBM_IoT_sensor","tab":"fcce226d.c8308","order":1,"disp":true,"width":"6","collapse":false},{"id":"e17024ae.583e2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9320bda5.6f6d38","type":"ui_group","z":"","name":"Button","tab":"fcce226d.c8308","order":3,"disp":true,"width":"6","collapse":false},{"id":"36e2288f.ab4438","type":"ui_group","z":"","name":"OpenWeather","tab":"fcce226d.c8308","order":2,"disp":true,"width":"6","collapse":false},{"id":"d5e82ab2.3ac95","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ie8mpi.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7bb56dca.d99a34","type":"function","z":"a4a75e6d.5b5a68","name":"temperature","func":"var temp=global.get(\"temperature\")\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["c9b58283.cc6f68","a6fb32d.940e95"]]},{"id":"19255450.09d3bc","type":"function","z":"a4a75e6d.5b5a68","name":"humidity","func":"var hum=global.get(\"humidity\")\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["d36937c.6472048","a6fb32d.940e95"]]},{"id":"b946f7fb.683c2","type":"function","z":"a4a75e6d.5b5a68","name":"objectTemp","func":"var objtemp=global.get(\"objectTemp\")\nmsg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["14c1886e.f62908","a6fb32d.940e95"]]},{"id":"a6fb32d.940e95","type":"debug","z":"a4a75e6d.5b5a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":260,"wires":[]},{"id":"f67c59ce.fb415","type":"http request","z":"9a87c2cc.307ec","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Salem,IN&appid=46fe77aea2a342134324a0e3a10ef950","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":260,"wires":[["598ba3fe.716ebc","e7f67af0.20d2a8","5ff251b6.4df83","fafa2acc.f82ce","9f7f6a1f.da7ac","d6bb3c3c.d697c8"]]},{"id":"4f515ab4.ebb2bc","type":"inject","z":"9a87c2cc.307ec","name":"","topic":"","payload":"make request","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["f67c59ce.fb415"]]},{"id":"511c3bc3.6a1a9c","type":"debug","z":"9a87c2cc.307ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":120,"wires":[]},{"id":"5ff251b6.4df83","type":"function","z":"9a87c2cc.307ec","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["511c3bc3.6a1a9c","d8a31765.14818"]]},{"id":"e7f67af0.20d2a8","type":"function","z":"9a87c2cc.307ec","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["511c3bc3.6a1a9c","6c789874.fab0e8"]]},{"id":"598ba3fe.716ebc","type":"function","z":"9a87c2cc.307ec","name":"region","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["511c3bc3.6a1a9c","fc1325cf.b6cd58"]]},{"id":"fafa2acc.f82ce","type":"function","z":"9a87c2cc.307ec","name":"weather_description","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["511c3bc3.6a1a9c","206e498e.e7c9f6"]]},{"id":"9f7f6a1f.da7ac","type":"function","z":"9a87c2cc.307ec","name":"temperature","func":"msg.payload=Math.ceil(msg.payload.main.temp-273)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["511c3bc3.6a1a9c","af6a9831.453a38"]]},{"id":"9be394bf.17809","type":"http in","z":"a4a75e6d.5b5a68","name":"","url":"/data1","method":"get","upload":false,"swaggerDoc":"","x":200,"y":680,"wires":[["bd56331a.119098"]]},{"id":"bed93fb3.42978","type":"http response","z":"a4a75e6d.5b5a68","name":"","statusCode":"","headers":{},"x":610,"y":680,"wires":[]},{"id":"bd56331a.119098","type":"function","z":"a4a75e6d.5b5a68","name":"display","func":"msg.payload={\n    \"temperature\":flow.get('temperature'),\n    \"humidity\":flow.get('humidity'),\n    \"objectTemp\":global.get('objectTemp'),\n    \"alert\":global.get('alert')\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":680,"wires":[["bed93fb3.42978"]]},{"id":"19d660a7.ae2adf","type":"function","z":"a4a75e6d.5b5a68","name":"","func":"flow.set('temperature',msg.payload.d.temperature)\nflow.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":420,"wires":[[]]},{"id":"b21cb3fb.85f7c8","type":"ibmiot out","z":"a4a75e6d.5b5a68","authentication":"apiKey","apiKey":"d5e82ab2.3ac95","outputType":"evt","deviceId":"IoT_device_1","deviceType":"IoT_device","eventCommandType":"home","format":"json","data":"data","qos":"0","name":"IBM IoT","service":"registered","x":540,"y":500,"wires":[]},{"id":"fc1325cf.b6cd58","type":"ui_text","z":"9a87c2cc.307ec","group":"36e2288f.ab4438","order":4,"width":0,"height":0,"name":"region","label":"region:","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":320,"wires":[]},{"id":"206e498e.e7c9f6","type":"ui_text","z":"9a87c2cc.307ec","group":"36e2288f.ab4438","order":5,"width":0,"height":0,"name":"weather_description","label":"weather_description","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":440,"wires":[]},{"id":"c9b58283.cc6f68","type":"ui_gauge","z":"a4a75e6d.5b5a68","name":"","group":"84695dae.aa04b","order":3,"width":"4","height":"6","gtype":"gage","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#008000","#0484e1","#ff8000"],"seg1":"","seg2":"","x":550,"y":140,"wires":[]},{"id":"14c1886e.f62908","type":"ui_gauge","z":"a4a75e6d.5b5a68","name":"","group":"84695dae.aa04b","order":2,"width":"4","height":"6","gtype":"gage","title":"object_temp","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":260,"wires":[]},{"id":"d36937c.6472048","type":"ui_gauge","z":"a4a75e6d.5b5a68","name":"","group":"84695dae.aa04b","order":2,"width":"4","height":"6","gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":380,"wires":[]},{"id":"6c789874.fab0e8","type":"ui_gauge","z":"9a87c2cc.307ec","name":"","group":"36e2288f.ab4438","order":1,"width":"4","height":"4","gtype":"wave","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":380,"wires":[]},{"id":"d8a31765.14818","type":"ui_gauge","z":"9a87c2cc.307ec","name":"","group":"36e2288f.ab4438","order":2,"width":"4","height":"4","gtype":"wave","title":"pressure","label":"mb","format":"{{value}}","min":"100","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":260,"wires":[]},{"id":"af6a9831.453a38","type":"ui_gauge","z":"9a87c2cc.307ec","name":"","group":"36e2288f.ab4438","order":3,"width":"4","height":"4","gtype":"wave","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#008000","#0484e1","#ff8000"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"650c016f.c26b78","type":"ui_button","z":"a4a75e6d.5b5a68","name":"","group":"9320bda5.6f6d38","order":2,"width":"3","height":"3","passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"https://cdn5.vectorstock.com/i/1000x1000/73/54/start-button-icon-symbol-premium-quality-isolated-vector-14807354.jpg","payload":"{\"command\" : \"motoron\"}","payloadType":"json","topic":"","x":270,"y":480,"wires":[["a6fb32d.940e95","b21cb3fb.85f7c8"]]},{"id":"b59fcec5.d32358","type":"ui_button","z":"a4a75e6d.5b5a68","name":"","group":"9320bda5.6f6d38","order":3,"width":"3","height":"3","passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"https://cdn5.vectorstock.com/i/1000x1000/73/54/start-button-icon-symbol-premium-quality-isolated-vector-14807354.jpg","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":270,"y":560,"wires":[["b21cb3fb.85f7c8","a6fb32d.940e95"]]},{"id":"cda1d4f6.a1cd58","type":"ibmiot in","z":"a4a75e6d.5b5a68","authentication":"apiKey","apiKey":"d5e82ab2.3ac95","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IoT_device_1","applicationId":"","deviceType":"IoT_device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":260,"wires":[["7bb56dca.d99a34","b946f7fb.683c2","19255450.09d3bc","19d660a7.ae2adf","25212917.7f5fde"]]},{"id":"eed83267.91ddf8","type":"http in","z":"9a87c2cc.307ec","name":"","url":"/data2","method":"get","upload":false,"swaggerDoc":"","x":230,"y":620,"wires":[["1f9c09ec.5bacf6"]]},{"id":"b920d37f.4bccc","type":"http response","z":"9a87c2cc.307ec","name":"","statusCode":"","headers":{},"x":640,"y":620,"wires":[]},{"id":"1f9c09ec.5bacf6","type":"function","z":"9a87c2cc.307ec","name":"display","func":"msg.payload={\n    \"temperature\":flow.get('temperature'),\n    \"humidity\":flow.get('humidity'),\n    \"pressure\":global.get('pressure'),\n    \"region\":global.get('region'),\n    \"weather\":global.get('weather'),\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":620,"wires":[["b920d37f.4bccc"]]},{"id":"d6bb3c3c.d697c8","type":"function","z":"9a87c2cc.307ec","name":"","func":"flow.set('temperature',Math.ceil(msg.payload.main.temp-273))\nglobal.set('pressure',msg.payload.main.pressure)\nflow.set('humidity',msg.payload.main.humidity)\nglobal.set('weather',msg.payload.weather[0].description)\nglobal.set('region',msg.payload.name)\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":420,"wires":[[]]},{"id":"25212917.7f5fde","type":"function","z":"a4a75e6d.5b5a68","name":"alert","func":"if ((flow.get('temperature')>32) && (flow.get('humidity')<70))\n    {global.set('alert',\"turn on motor\")}\nif(flow.get('humidity')>70 && flow.get('temperature')<32)\n    {global.set('alert',\"humidity is high\")}\nif(flow.get('humidity')>70 && flow.get('temperature')>32)\n    {global.set('alert',\"both temp and humidity is high\")}\nif(flow.get('humidity')<70 && flow.get('temperature')<32)\n    {global.set('alert',\" \")}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[[]]}]